*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
  }
  .header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
 
  #logo{
    color: #f44336;
  }
  nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  nav img{
    width: 150px;
  }
  .nav-links{
    flex: 1;
    text-align: right;
  }
  .nav-links ul li{
    list-style: none;
    display: inline-block; /* tkhalihom ywaliw horizental*/
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
  }
  .nav-links ul li::after{
    content: '';
    width: 0%; /*fihesh khat ahmer*/
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s ;/*kadsh thebli k naadi curseur ala lektiba bsh tetsater tahtha b ahmer */
  }
  .nav-links ul li:hover::after{
  width: 100%; /*kolha khat ahmar k nenzel aleha*/
  }
  .text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;/*maneha lektiba tethat f west ama beki al lisar*/
    left: 50%;/*taw tetdana lel west */
    transform: translate(-50%,-50%);/*rajaatou al lisar msh barsha ama beki west page*/
    text-align: center;/*rajaatou lel west*/
  }
  .text-box h1{
    font-size: 62px;
  }
  .text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
  }
  .hero-btn{
    display: block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
  }
  nav .fa{
    display: none;/*maneha l lehnee en relation b fa kl icons meyethatoush f web page parcontre talkahom k tebda b tlf*/
  }
  @media(max-width:700px){ /*juste k naaml inspect kifh nraha b tlf kifh todhhorli*/ 
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block; 
    }
    .nav-links{ position:absolute;
    background: #f44336;
  height: 100vh;
  width: 200px;
  top: 0;
  right: -200px;
  text-align: left;
  z-index: 2;}
  nav .fa{
    display: block;/*visible*/
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 100px;
  }
  }
.course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
.campus-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom:30px;
  position:relative;
  overflow: hidden;
}
h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}